.w3-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(33, 52, 57);

    .logo {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }

    .nav-link a {
        margin-right: 20px;
        text-decoration: none;
        font-size: 20px;
        color: rgb(33, 52, 57);
    }    

}

.col {
    margin-bottom: 40px;

}
.col h2 {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(33, 52, 57);;


}

.col b {
    color: rgb(32, 52, 57);
}

.col img {
    width: 400px;
    height: auto;
    border-radius: 0 0 70px 70px; 
    margin-bottom: 20px;

}